<ul class="nav nav-tabs mt30">
  <li class="active"><a href="javascript:;">{{nav}}</a></li>
</ul>
<div class="box box-border-recruit">
  <div>
    <!-- 串货监控-->
    <div ng-if="tagIndex==1||tagIndex==2">
        <h3 class = "text-center">以下分销商存在{{title}}，详细信息如下:</h3>
        <table class = "table table-bordered table-hover">
            <caption></caption>
            <thead>
                <tr>
                    <th>
                        <label style = "margin-bottom:0px;color:#333333;font-weight:bold;" class="checkbox" ng-click="selectAll($event);">
                            <input type = "checkbox">
                            全选
                        </label>
                    </th>
                    <th>分销商名称</th>
                    <th>授权类型</th>
                    <th>联系方式</th>
                    <th>等级</th>
                    <th>pv</th>
                    <th>uv</th>
                    <th>30天销售额</th>
                    <th>在售分销产品数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in shops">
                    <td><label class="checkbox"><input type="checkbox" ng-model="i.selected"/><span class="badge badge-info">{{$index}}</span></label></td>
                    <td>{{i.disNick}}</td>
                    <td>{{i.tradeType | tradeType_filter}}</td>
                    <td>
                       <a class = "wangwangLogo" target = "_blank" href = "http://www.taobao.com/webww/?ver=1&&touid=cntaobao{{i.disNick}}&siteid=cntaobao&status=2&portalId=&gid=&itemsId="></a>
                    </td>
                    <td>
                        <div class="pr t5 {{i.disShopLevel}}"></div> 
                    </td>
                    <td class="tipTd" name="pv">{{i.disPv}}</td>
                    <td class="tipTd" name="uv">{{i.disUv}}</td>
                    <td class="tipTd" name="30天销售额">{{i.disSellMoney}}</td>
                    <td class="tipTd" name="在售分销产品数">{{i.disSellAmount}}</td>
                    <td>
                        <a href="javascript:;" class="mr10" ng-click="getProds($event,$index);">查看详情</a>
                        <a href="javascript:;" class="mr10" ng-click="dropGrade($event,$index);">降低等级</a>
                        <a href="javascript:;" class="mr10" ng-click="stopTerminal($event,$index);">终止合作</a>
                    </td>
                </tr>
                <tr ng-if="!shops.length"><td colspan="10"><div class="no-data">暂无数据，正在努力统计中O(∩_∩)O~</div></td></tr>
                <tr class="hide othersPartner">
                  <td colspan="10">
                    <table class="table table-bordered table-hover table-condensed" ng-if="tagIndex==1&&!showLayers">
                        <thead>
                          <tr>
                            <th>序号</th>
                            <th colspan="2">违规嫌疑产品</th>
                            <th>违规原因</th>
                            <th>采购量</th>
                            <th>成交量</th>
                          </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat = "i in prods">
                                   <td>
                                      <span class = "badge badge-info">{{$index}}</span>
                                   </td>
                                   <td>
                                      <img ng-src = "{{i.picPath+'_40x40.jpg'}}" class = "br100"/>
                                   </td>
                                   <td>{{i.name}} </td>
                                   <td>{{i.reason}}</td>
                                   <td>{{i.purchaseNum}}</td>
                                   <td>{{i.tradeNum}}</td>
                          </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover table-condensed" ng-if="tagIndex==2&&!showLayers">
                        <thead>
                        <tr>
                           <th>序号</th>
                           <th colspan = "2">产品</th>
                           <th>违规类型</th>
                           <th>正常最高价</th>
                           <th>正常最低价</th>
                           <th>标价</th>
                           <th>成交价</th>
                           <th>违规时间</th>
                        </tr>
                        </thead>
                        <tbody>
                         <tr ng-repeat = "i in prods">
                             <td>
                                 <span class = "badge badge-info">{{$index+1}}</span>
                             </td>
                             <td>
                                 <img ng-src = "{{i.picPath}}" class = "br100"/>
                             </td>
                             <td>{{i.title}}</td>
                             <td>{{i.reason}}</td>
                             <td>{{i.highPrice}}</td>
                             <td>{{i.lowPrice}}</td>
                             <td>{{i.markPrice}}</td>
                             <td>{{i.sellPrice}}</td>
                             <td>{{i.time}}</td>
                         </tr>
                        </tbody>
                    </table>
                    <div class="text-center" ng-show="showLayers">
                       <label class="radio inline">设置等级为：</label>
                       <label class="radio inline" ng-repeat="i in gradeLayers">
                         <input type="radio" value="{{i.gradeId}}" name="layer" ng-model="parms.layer">
                          {{i.name}}
                       </label>
                       <a href="javascript:;" class="btn btn-primary btn-small ml10 mr10" ng-click="enDropLayer();">确定</a>
                       <label class="radio inline">
                         <input type="radio" value="1" name="layerType" checked="checked" ng-click="setType(1);">
                         应用到此店
                       </label>
                       <label class="radio inline">
                         <input type="radio" value="2" name="layerType" ng-click="setType(2);">
                         应用到所选
                       </label>
                    </div>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 中差评-->
    <div class = "badRateMointer" ng-if="tagIndex==3">
        <div class = "clearfix" ng-show="showList">
            <button class = "pull-right btn mt30">
             <i class="icon-refresh"></i>
             刷新
            </button>
            <div>
                <div>
                    <h3 class="mt30 mb15">中差评TOP10</h3>
                    <table class = "table table-bordered">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>分销商名称</th>
                                <th>中差评数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in shops.neutralBadRate">
                                <td>
                                    <span class="badge badge-info">{{$index+1}}</span>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.rateNum}}</td>
                                <td>
                                    <a href="javascript:;" ng-click="lookUpSomeDis(item.name,'neutralBad');">点击查看</a>
                                </td>
                            </tr>
                            <tr ng-if="!shops.neutralBadRate.length">
                               <td colspan="4">
                                   <div class="no-data">暂无数据,正在努力打造中↖(^ω^)↗</div>
                               </td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div>
                    <h3 class = "bb">差评TOP10</h3>
                    <table class = "table table-bordered">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>分销商名称</th>
                                <th>差评数</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                       <tbody>
                          <tr ng-repeat="item in shops.badRate">
                                <td>
                                    <span class="badge badge-info">{{$index+1}}</span>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.rateNum}}</td>
                                <td>
                                    <a href="javascript:;" ng-click="lookUpSomeDis(item.name,'bad');">点击查看</a>
                                </td>
                           </tr>
                           <tr ng-if="!shops.badRate.length">
                               <td colspan="4">
                                   <div class="no-data">暂无数据,正在努力打造中↖(^ω^)↗</div>
                               </td>
                           </tr>
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-if="!showList">
            <div>
                <table class = "table table-bordered">
                    <caption>
                        <!-- <a class = "btn btn-link" ng-click = "badRateMointer.mainListShown=true">返回列表</a> -->
                    </caption>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th colspan = "2">
                                产品名称
                            </th>
                            <th>中评数量</th>
                            <th>差评数量</th>
                        </tr>
                    </thead>
                    <tr ng-repeat = "i in badRateMointer.prodsBadRateDetails">
                        <td>{{$index+1}}</td>
                        <td>
                            <img ng-src = "{{i.picPath}}"/>
                        </td>
                        <td>
                            <a>{{i.title}}</a>
                        </td>
                        <td>{{i.neutralCount}}</td>
                        <td>{{i.badCount}}</td>
                    </tr> 
                </table>
            </div>
        </div>
    </div>  
  </div>
</div>



