<!-- 首页-->
<div class="row-fluid">
	<div class="span7" ng-controller="data-preview">
		<h4 class="alert alert-info">数据概览</h4>
		<div class="box" style="height:400px;">
			<div class="box-scroll-content">
				<!-- <div class="row-fluid mt30" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
					<div class="span2" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">你在么可好啊啊啊啊啊</div>
					<div class="progress span9">
						<div class="bar bar-success" ng-style="{width:100%-$index*10}" data-with="100%-$index*10"></div>
					</div>
					<div class="span1">12355</div>
				</div> -->
				<div ng-if="sort==1" class="highCharts">
				</div>
				<div ng-if="sort==2">
					
				</div>
			</div>
			<!-- <ul class="clear-fix nav clearfix dot-wrapper">
					<li class="page-dot pull-left"><i class="active"></i></li>
					<li class="page-dot pull-left"><i></i></li>
					<li class="page-dot pull-left"><i></i></li>
				</ul> -->	
		</div>
	</div>
	<div class="span5">
		<h4 class="alert alert-info">账号信息</h4>
		<div class="box box-noborder">
			<div class="row-fluid">
				<div class="span3 mt10">
					<img src="http://img.taobaocdn.com/sns_logo/T1SrWwXphlXXb1upjX.jpg" alt="" class="img-circle mt30">
				</div>
				<div class="span9 text-center">
					<h5 class="alert alert-success text-center">宝贝运营大师旗舰店</h5>
					<p class="mt30">当前分销版本:<span class="f20">分销管理基础版--v4.0</span></p>
					<div class="clearfix store-info">
						<div class="pull-left">
							<ul class="nav">
								<li>分销商数量:<span class="ml5">{{generaData.coopDistributorNum}}</span></li>
								<li>活跃占比:<span class="ml5">{{generaData.saleActionDistributorTrend | percent}}</span></li>
								<li><i class="icon-arrow-up"></i><span class="ml5">5.6%</span></li>
							</ul>
						</div>
						<div class="division"></div>
						<div class="pull-right">
							<ul class="nav">
								<li>分销产品量:<span class="ml5">{{generaData.onLineProductNum}}</span></li>
								<li>动销率:<span class="ml5">{{generaData.saleAuctionProductTrend | percent}}</span></li>
								<li><i class="icon-arrow-down"></i><span class="ml5">1.2%</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

<div class="row-fluid">
	<div class="span7">
		<h4 class="alert alert-info clearfix pr">
			<i class="icon-list mr5"></i>渠道概况
			<div class="pull-right f15">
				<span>日期：</span>
				<input type="text" class="input-small date" ng-model="begin" date-time>
				<span>~</span>
				<input type="text" class="input-small date" ng-model="end" date-time>
				<a href="javascript:;" class="btn btn-link" ng-click="refresh();">刷新</a>
			</div>
		</h4>
		<div class="box">
			<table class="table table-bordered table-hover mt30">
				<thead>
					<tr>
						<th>属性</th>
						<th colspan="2">母店</th>
						<th colspan="2">分销</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in ths">
						<td>{{item}}</td>
						<td>{{ActionData.supData[$index]}}</td>
						<td>
							<i class="icon-arrow-up"></i>
							<span class="ml10">{{ActionData.supTrend[$index]}}</span>
						</td>
						<td>{{ActionData.disData[$index]}}</td>
						<td>
							<i class="icon-arrow-down"></i>
							<span class="ml10">{{ActionData.disTrend[$index]}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="span5">
		<h4 class="alert alert-info">最新动态</h4>
		<div class="box box-over-hidden">
			<ul class="nav nav-basic">
				<li class="border-bottom clearfix" ng-repeat="i in newList">
					<a ng-href="{{i.url}}" target="_blank">
						<span class="pull-left span9">{{i.title}}</span>
						<span class="pull-right span3 text-right">{{i.date}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>