<!-- 首页-->
<div class="row-fluid">
	<div class="span7" ng-controller="data-preview">
		<h4 class="alert alert-info clearfix pr">
			数据概览
			<div class="pull-right">
				<div class="nav nav-tabs">
					<li>
						<a href="javascript:;" ng-click="sort=1">总体概况</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="sort=2">母店概况</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="sort=3">分销概况</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="sort=4">分销宝贝</a>
					</li>
				</div>
			</div>
		</h4>
		<div class="box" style="height:400px;">
			<div class="box-scroll-content">
				<div ng-show="sort==1" class="highCharts">
				</div>
				<div ng-show="sort!=1" class="pr">
					<div class="scroll-content">
						<div class="row-fluid mt15" ng-repeat="item in dataList">
							<!-- <div class="span2" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">{{ item.title}}</div> -->
							<div class="progress span9">
								<a class="bar bar-success" ng-style="{width:item.width+'%'}" ng-href="{{item.picUrl}}" target="_blank"></a>
								<span style="position:relative;">{{item[fieldName]}}</span>
							</div>
							<div class="span2"></div>
						</div>
					</div>
					<div class="scroll-index">
						<label class="radio">
							<input type="radio" name="type" value="alipayTradeAmt" ng-model="fieldName" />
							成交金额Top10
						</label>
						<label class="radio">
							<input type="radio" name="type" value="alipayAuctionNum"  ng-model="fieldName" />
							成交量Top10
						</label>
						<label class="radio" ng-show="sort!=3">
							<input type="radio"  name="type" value="rise"  ng-model="fieldName"/>
							飙升Top10
						</label>
						<label class="radio" ng-show="sort!=3">
							<input type="radio"  name="type" value="transformationEfficiency" ng-model="fieldName" />
							转化Top10
						</label>
						<label class="radio" ng-show="sort==3">
							<input type="radio" name="type" value="perCustomerTransaction" ng-model="fieldName" />
							客单价
						</label>
					</div>
				</div>
			</div>
			<!--  -->	
		</div>
	</div>
	<div class="span5">
		<h4 class="alert alert-info">账号信息</h4>
		<div class="box box-noborder">
			<div class="row-fluid">
				<div class="span3 mt10">
					<img src="http://img.taobaocdn.com/sns_logo/T1SrWwXphlXXb1upjX.jpg" alt="" class="img-circle mt30">
				</div>
				<div class="span9 text-center">
					<h5 class="alert alert-success text-center">{{generaData.nick}}</h5>
					<p class="mt30">当前分销版本:<span class="f20">分销管理基础版--v4.0</span></p>
					<div class="clearfix store-info">
						<div class="pull-left">
							<ul class="nav">
								<li>分销商数量:<span class="ml5">{{generaData.coopDistributorNum}}</span></li>
								<li>活跃占比:<span class="ml5">{{generaData.distributorSalePercent}}%</span></li>
								<li><i trend-class="{{generaData.saleActionDistributorTrend}}" class="fa"></i><span class="ml5">{{generaData.saleActionDistributorTrend}}</span></li>
							</ul>
						</div>
						<div class="division"></div>
						<div class="pull-right">
							<ul class="nav">
								<li>分销产品量:<span class="ml5">{{generaData.onLineProductNum}}</span></li>
								<li>动销率:<span class="ml5">{{generaData.auctionSalePercent}}%</span></li>
								<li><i trend-class="{{generaData.saleAuctionProductTrend}}" class="fa"></i><span class="ml5">{{generaData.saleAuctionProductTrend}}</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

<div class="row-fluid">
	<div class="span7">
		<h4 class="alert alert-info clearfix pr">
			<i class="icon-list mr5"></i>渠道概况
			<div class="pull-right f15">
				<span>日期：</span>
				<input type="text" class="input-small date" ng-model="begin" date-time>
				<span>~</span>
				<input type="text" class="input-small date" ng-model="end" date-time>
				<a href="javascript:;" class="btn btn-link" ng-click="refresh();">刷新</a>
			</div>
		</h4>
		<div class="box">
			<table class="table table-bordered table-hover mt30">
				<thead>
					<tr>
						<th>属性</th>
						<th colspan="2">母店</th>
						<th colspan="2">分销</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in ths">
						<td>{{item}}</td>
						<td>{{ActionData.supData[$index]}}</td>
						<td>
							<i class="icon-arrow-up"></i>
							<span class="ml10">{{ActionData.supTrend[$index]}}</span>
						</td>
						<td>{{ActionData.disData[$index]}}</td>
						<td>
							<i class="icon-arrow-down"></i>
							<span class="ml10">{{ActionData.disTrend[$index]}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="span5">
		<h4 class="alert alert-info">最新动态</h4>
		<div class="box box-over-hidden">
			<ul class="nav nav-basic">
				<li class="border-bottom clearfix" ng-repeat="i in newList">
					<a ng-href="{{i.url}}" target="_blank">
						<span class="pull-left span9">{{i.title}}</span>
						<span class="pull-right span3 text-right">{{i.date}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>