<div ng-if="tagIndex>0&&tagIndex<4&&!showSetting" class="mt30">
	<ul class="nav nav-tabs">
		<li ng-repeat="item in model" ng-class="item==curModeName?'active':''" data-item="{{item}}">
			<a href="javascript:;" ng-click="setCur(item);">{{item}}</a>
		</li>
	</ul>
	<div class="box container-fluid box-border-recruit">
		<div class="span12">
			<div ng-if="tagIndex==3">
				<weight></weight>
			</div>
			<button class="btn pull-right mb20" ng-click="Settings();"><i class="icon-wrench"></i>设置</button>
			<div class="clearfix">
				<label class="checkbox inline">
					<input type="checkbox" ng-click="selAll($event);" value="true">
					全选
				</label>
				<button class="btn ml10" ng-click="addLayers();">
					<i class="fa fa-plus"></i>
					添加到
				</button>
				<layers></layers>
			</div>
			<table class="table table-bordered ng-table table-hover">
				<thead>
					<tr>
						<th>店铺旺旺</th>
						<th>所属分层</th>
						<th ng-repeat = "item in potential">
							{{item.name}}
						</th>
						<th ng-repeat="i in dimensions" ng-click="sort($event,i.name);" class="sortable">
							<div>{{i.des}}</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in getDis" class="pr">
						<td>
							<label class="checkbox">
								<input type="checkbox" value="true" ng-model="item.select" ng-click="mark(item);">
								{{item.disNick}}
							</label>
						</td>
						<td>{{item.gradeName}}</td>
						<td ng-repeat = "v in potential" ng-click="getTrend($event,item,v);" style="cursor:pointer;">
							<span ng-if="$index==0||$index==3">
								{{trend[item.disSid][v.id]}}
							</span>
							<div ng-if="$index!=0&&$index!=3">
								<i class="fa" ng-class="trend[item.disSid][v.id]>=0?'fa-arrow-up':'fa-arrow-down'"></i>
								<span class="ml10">{{trend[item.disSid][v.id] | abs}}</span>
							</div>
						</td>
						<td ng-repeat="i in dimensions">
							{{item[i.name]}}
						</td>
					</tr>
					<tr class="active-charts hide">
						<td colspan="{{2+potential.length+dimensions.length}}">
							<div class="pop-charts"></div>
						</td>
					</tr>
				</tbody>
			</table>
			<page></page>
		</div>
	</div>
</div>
<div class="mt30" ng-show="showSetting">
	<h5>备注：此处是对运营模式的计算参数进行设置，设置结果仅对运营模式有效，不会改变其他模式的设置！
		<button class="btn btn-small pull-right" ng-click="showSetting=false;"><i class="icon-off"></i>返回</button>
	</h5>
	<h3>忠诚分销商</h3>
	<div class="row-fluid">
		<div class="span5">
			<h4 class="alert alert-info">可选参数</h4>
			<div class="box box-auto-height" parms-to-checked></div>
		</div>
		<div class="span7" ng-controller="hasParams">
			<h4 class="alert alert-info pr">
				已选参数
			</h4>
			<div class="box box-auto-height">
				<div class="alert alert-danger pr mb5 hide" erro>
					<i class="fa fa-exclamation-circle"></i>
					<span>错误占位符</span>
				</div>
				<table class="table table-striped setting-table">
					<tbody>
						<tr ng-repeat=" i in hasChecked" data-key="{{i.key}}">
							<th>{{i.des}}</th>
							<td>指标</td>
							<td>范围</td>
							<td class="text-center">
								<div class="input-append">
										<input type="text" class="input-small low-input" ng-class="i.type=='date'?'date':''"  value="{{i.low}}">
										<span class="add-on" ng-bind-html="i.unit"></span>
								</div>	
								<span class="ml10 mr10">—</span>
								<div class="input-append">
									<input type="text" class="input-small high-input"  ng-class="i.type=='date'?'date':''"  value="{{i.high}}">
									<span class="add-on" ng-bind-html="i.unit"></span>
								</div>	
							</td>
							<td>
								<a href="javascript:;" ng-click="addDim($index,$event);">
									<i class="icon-ok"></i>
								</a>
								<a href="javascript:;" ng-click="reMov($index,$event);">
									<i class="icon-remove"></i>
								</a> 
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div ng-if="tagIndex>3&&tagIndex<6">
	<distriprods data-tag="tagIndex"></distriprods>
</div>
<div ng-if="tagIndex>=6">
	<distributors ng-show="true"></distributors>
</div>