<div class="row-fluid">
	<div class="span12">
		<div ng-show="!fullScreen&&!showMessage" ng-init="statusShow=true;">
			<h5 class="alert alert-info clearfix mb0">
				<span class="pull-left">店铺名称：<b>{{distr.disNick}}</b></span>
				<div class="pull-right">
					<a href="javascript:;" class="mr10" ng-click="statusShow=!statusShow">
						<i class="fa mr5" ng-class="statusShow?'fa-angle-up':'fa-angle-down'"></i>{{statusShow?'收起':'打开'}}
					</a>
					<a href="javascript:;" ng-click="return();"><i class="fa fa-power-off mr5"></i>返回</a>
				</div>
			</h5>
			<div class="clearfix nav detail-distributor-status" ng-show="statusShow">
				<div class="pull-left text-center mr20 pr20 border-right pr">
					<label>状态操作</label>
					<table class="table mb0">
						<tr>
							<th>关注/预警:</th>
							<td class="thumbs">
								<i class="up" ng-click="setAttention();" ng-class="distr.payAttention?'active':''"></i>
								<i class="down" ng-click="setWarning();" ng-class="distr.warning?'active':''"></i>
							</td>
						</tr>
						<tr>
							<th>评估等级:</th>
							<td>
								<div class="rating">
									<span class="stars" ng-click="setLevel(5);"  ng-class="distr.assessmentLevel>=5?'active':''"></span>
									<span class="stars" ng-click="setLevel(4);" ng-class="distr.assessmentLevel>=4?'active':''"></span>
									<span class="stars" ng-click="setLevel(3);" ng-class="distr.assessmentLevel>=3?'active':''"></span>
									<span class="stars" ng-click="setLevel(2);" ng-class="distr.assessmentLevel>=2?'active':''"></span>
									<span class="stars" ng-click="setLevel(1);" ng-class="distr.assessmentLevel>=1?'active':''"></span>
								</div>
								<a href="javascript:;" ng-click="setLevel(0);">重评</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="pull-left other-opitions text-center">
					<label class="option-other-label">其他操作</label>
					<div class="pull-left option-other-content">
						<div class="pull-left text-center mr20 pr20 border-right">
							<label>联系操作</label>
							<button class="btn" ng-click="show.showMessage();">发送信息</button>
						</div>
						<div class="pull-left text-center mr20 pr20 border-right">
							<label>合作关系</label>
							<button class="btn" ng-click="$parent.parms.stop(distr);">终止合作</button>
							<button class="btn" ng-click="moveLayers();">移入等级</button>
						</div>
						<div class="pull-left text-center mr20 pr20 border-right">
							<label>预约联系</label>
							<div class="input-append input-prepend">
								<span class="add-on"><i class="fa fa-calendar"></i></span>
								<input type="text" date-time class="input-medium mb0 apponitTime" ng-value="distr.appointmentTime" placeholder="年-月-日">
								<span class="btn" ng-click="setOpTime();">确定</span>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div>
				<layers></layers>
			</div>
			<div class="mt20">
				<ul class="nav nav-tabs clearfix">
					<li ng-repeat="item in navs" ng-class="$index == curNavIndex?'active':''">
						<a href="javascript:;" ng-click="setNav($index);">{{item}}</a>
					</li>
					<li class="pull-right">
						<span>统计周期:</span>
						<div class="input-append mb0">
							<input type="text" ng-value="lowThedate" date-time class="input-small lowThedate">
							<span class="add-on"><i class="fa fa-calendar"></i></span>
						</div>
						<span>~</span>
						<div class="input-append mb0">
							<input type="text" ng-value="highThedate" date-time class="input-small highThedate">
							<span class="add-on"><i class="fa fa-calendar"></i></span>
						</div>
						<button class="btn btn-link" ng-click="getData();">确定</button>
					</li>
				</ul>
				<div class="box container-fluid box-border-recruit">
					<div ng-if="curNavIndex == 0" ng-init="genTableShow=true;">
						<h5 class="clearfix">
							<span>概况:</span>
							<div class="pull-right">
								<a href="javascript:;" ng-click="genTableShow=!genTableShow">
									<i class="fa" ng-class="genTableShow?'fa-angle-up':'fa-angle-down'"></i>
									{{genTableShow?'收起':'打开'}}
								</a>
							</div>
						</h5>
						<table class="table table-hover table-bordered" ng-show="genTableShow">
							<thead>
								<tr>
									<th>数据范围</th>
									<th>浏览量</th>
									<th>访客数</th>
									<th>成交金额</th>
									<th>成交量</th>
									<th>转化率(%)</th>
									<th>拍下未付款</th>
									<th>购物车</th>
									<th>停留时间</th>
									<th>跌势率</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><b>母店</b></td>
									<td ng-repeat="attr in shopAttr">
										{{parms.shopData.inAllDmDwbAuctionEffect[attr]}}
									</td>
								</tr>
								<tr>
									<td><b>整店环比</b></td>
									<td ng-repeat="item in [0,1,2,3,4,5,6,7,8]">
										<i class="fa" ng-if="parms.shopData.inAllComparison[$index]!=0" ng-class="parms.shopData.inAllComparison[$index]>0?'fa-arrow-up':'fa-arrow-down'"></i>
										{{parms.shopData.inAllComparison[$index] | abs}}
									</td>
								</tr>
								<tr>
									<td><b>分销</b></td>
									<td ng-repeat="attr in shopAttr">
										{{parms.shopData.disDmDwbAuctionEffect[attr]}}
									</td>
								</tr>
								<tr>
									<td><b>分销环比</b></td>
									<td ng-repeat="item in [0,1,2,3,4,5,6,7,8]">
										<i class="fa" ng-if="parms.shopData.disComparison[$index]!=0" ng-class="parms.shopData.disComparison[$index]>=0?'fa-arrow-up':'fa-arrow-down'"></i>
										{{parms.shopData.disComparison[$index] | abs}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-if="curNavIndex == 1" ng-init="genTableShow=true;">
						<h5 class="clearfix">
							<span>概况:</span>
							<div class="pull-right">
								<a href="javascript:;" ng-click="genTableShow=!genTableShow">
									<i class="fa" ng-class="genTableShow?'fa-angle-up':'fa-angle-down'"></i>
									{{genTableShow?'收起':'打开'}}
								</a>
							</div>
						</h5>
						<table class="table table-hover table-bordered" ng-show="genTableShow">
							<thead>
								<tr>
									<th>数据范围</th>
									<th>浏览量</th>
									<th>访客数</th>
									<th>成交金额</th>
									<th>成交量</th>
									<th>转化率(%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><b>母店</b></td>
									<td ng-repeat="attr in shopAttr">
										<span ng-if="attr!='transformationEfficiency'">
											{{parms.keyword.shop.inAllGatherQueryEffect[attr]}}
										</span>
										<span ng-if="attr=='transformationEfficiency'">
											{{parms.keyword.shop.inAllGatherQueryEffect[attr]*100 | number:2}}%
										</span>
									</td>
								</tr>
								<tr>
									<td><b>分销</b></td>
									<td ng-repeat="attr in shopAttr">
										<span ng-if="attr!='transformationEfficiency'">
											{{parms.keyword.shop.disGatherQueryEffect[attr]}}
										</span>
										<span ng-if="attr=='transformationEfficiency'">
											{{parms.keyword.shop.disGatherQueryEffect[attr]*100 | number:2}}%
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-if="curNavIndex == 0||curNavIndex == 1">
						<h5 class="clearfix">
							<span>宝贝详情:</span>
						</h5>
						<table class="table table-hover table-bordered ng-table">
							<thead>
								<tr>
									<th class="index">编号</th>
									<th ng-repeat="item in thead[curNavIndex]" ng-class="item.sortable!=false?'sortable':''" ng-click="sort($event,item);">
										<div>
											{{item.name}}
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in data">
									<td><span class="badge badge-info">{{$index+1}}</span></td>
									<td ng-repeat = "i in thead[curNavIndex]" ng-class="'title'==i.key||'query'==i.key?'aliseTd':''">
										<span ng-if="'title'!=i.key&&'query'!=i.key&&'clickRate'!=i.key&&'transformationEfficiency'!=i.key&&'lossRate'!=i.key">{{item[i.key]}}</span>
										<span ng-if="'clickRate'==i.key||'transformationEfficiency'==i.key||'lossRate'==i.key">{{item[i.key]*100 | number:2}}%</span>
										<span ng-if="'query'==i.key">
											<a href="javascript:;" class="alise" title="{{item[i.key]}}" ng-click="getQueryDetail(item);">{{item[i.key]}}</a>
										</span>
										<a target="_blank" ng-href="{{'http://item.taobao.com/item.htm?id='+item.auctionId}}" tip="{{item}}" pos="top" class="alise alise-2x"  ng-if="'title'==i.key" >{{item.title}}</a>
									</td>
								</tr>
								<tr ng-if="!data.length">
									<td colspan="{{thead[curNavIndex].length+1}}">
										<div class="no-data">
											<span ng-if="!parms.pulling">暂无数据</span>
											<span ng-if="parms.pulling"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<page ng-if="pages.length">
						</page>
					</div>
					<div ng-if="curNavIndex==2">
						<table class="table table-hover table-bordered ng-table">
							<thead>
								<tr>
									<th>渠道分类</th>
									<th>渠道名称</th>
									<th ng-repeat="item in thead[curNavIndex]">
										<div>{{item.name}}</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in parms.distriDataSrc">
									<td ng-if="!!item.parentName" rowspan="{{item.childLength}}">{{item.parentName}}</td>
									<td><a href="javascript:;" ng-click="getSrcDtail(item);">{{item.srcName}}</a></td>
									<td ng-repeat="i in thead[curNavIndex]">
										<span ng-if="'transformationEfficiency'!=i.key">{{item[i.key]}}</span>
										<span ng-if="'transformationEfficiency'==i.key">{{item[i.key]*100 | number:2}}%</span>
									</td>
								</tr>
								<tr ng-if="!parms.distriDataSrc.length">
									<td colspan="{{thead[curNavIndex].length+2}}">
										<div class="no-data">
											<span ng-if="!parms.pulling">暂无数据</span>
											<span ng-if="parms.pulling"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-if="curNavIndex==3">
						<!-- 授权产品及折扣 -->
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th class="index">编号</th>
									<th colspan="2">产品</th>
									<th style="width:8em;">所属分类</th>
									<th>原价</th>
									<th style="width:200px;">折扣</th>
									<th>折扣价</th>
									<th>利润</th>
									<th>销量</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="i in parms.prods">
									<td><span class="badge badge-info">{{$index+1}}</span></td>
									<td class="imgTd">
										<img ng-src="{{i.picUrl}}_40x40.jpg" alt="{{i.title}}">
									</td>
									<td class="aliseTd"><a href="javascript:;" class="alise alise-2x" title="{{i.title}}">{{i.title}}</a></td>
									<td>{{parms.productLines[i.productCatId].name}}</td>
									<td>{{i.standardPrice}}</td>
									<td ng-init="i.edit=false;">
										<div ng-show="!i.edit">
											<span>{{i.agentCostPrice/i.standardPrice*100 | number:2}}%</span>
											<i class="fa fa-edit pull-right" style="cursor:pointer;" ng-click="i.edit=true;"></i>
										</div>
										<div class="input-append" ng-show="i.edit">
											<input type="text" class="input-small" id="pricCount_{{$index}}" ng-value="i.agentCostPrice/i.standardPrice*100 | number:2"/>
											<span class="btn" ng-click="editCount($index);"><i class="fa fa-check"></i></span>
											<span class="btn" ng-click="i.edit=false;"><i class="fa fa-times"></i></span>
										</div>
									</td>
	                                <td>{{i.agentCostPrice | number:2}}</td>
	                                <td>{{i.standardPrice-i.discountPrice | number:2}}</td>
	                                <td>{{i.alipayAuctionNum}}</td>
								</tr>
								<tr ng-if="!parms.prods.length">
									<td colspan="9">
										<div class="no-data">
											<span ng-if="!parms.pulling">暂无数据</span>
											<span ng-if="parms.pulling"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<page ng-if="pages.length">
						</page>
					</div>
					<div ng-if="curNavIndex==4">
						<button class="btn" ng-click="addConcat();"><i class="fa fa-plus"></i>添加记录</button>
						<div class="DisLink clearfix mt30">
							<concat ng-repeat="item in parms.concats" a="item"></concat>
						</div>
					</div>
					<div ng-if="curNavIndex==5">
						<button class="btn pull-right" ng-click="showAdd=!showAdd;"><i class="fa fa-plus"></i>添加记录</button>
						<table class="table table-hover table-bordered mt30">
							<thead>
								<tr>
									<th>时间</th>
									<th>联系旺旺</th>
									<th>联系人</th>
									<th>联系结果</th>
									<th>备注</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="showAdd">
									<td><input type="text" class="contactTime" date-time></td>
									<td><select ng-model="record.aliNick">
											<option ng-value="{{i.aliNick}}" ng-repeat="i in parms.concats" ng-if="i.id">{{i.aliNick}}</option>
										</select>
									</td>
									<td><input type="text" ng-model="record.name"></td>
									<td><input type="text" ng-model="record.contactResult"></td>
									<td>
										<input type="text" ng-model="record.remark">
										<a href="javascript:;" ng-click="addRecord();"><i class="fa fa-plus"></i>添加</a>
									</td>
								</tr>
								<tr ng-repeat="i in parms.records">
									<td>{{i.contactTime}}</td>
									<td>{{i.aliNick}}</td>
									<td>{{i.name}}</td>
									<td>{{i.contactResult}}</td>
									<td>{{i.remark}}</td>
								</tr>
								<tr ng-if="!parms.records.length">
									<td colspan="5">
										<div class="no-data">暂无联系记录哦..</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div ng-if="curNavIndex==6">
						<iframe ng-src="{{parms.shopUrl}}" style="height:1000px;width:100%;" name="shopUrl" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="fullScreen" class="mt30">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="javascript:;">{{curNavIndex==1?'进店词'+queryName+'详情':'来自'+queryName+'宝贝详情'}}</a>
				</li>
			</ul>
			<div class="box container-fluid box-border-recruit">
				<button class="pull-right mb10 btn" ng-click="quitFullS();"><i></i>返回</button>
				<!-- 进店词详情 -->
				<table class="table table-bordered table-hover" ng-if="curNavIndex==1">
					<thead>
						<tr>
							<th>序号</th>
							<th colspan="2">宝贝</th>
	                        <th>访客数</th>
	                        <th>成交金额</th>
	                        <th>成交用户数</th>
	                        <th>客单价</th>
	                        <th>转化率(%)</th>
	                        <th>展现量</th>
	                        <th>点击量</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in parms.queDetList">
							<td><span class="badge badge-info">{{$index+1}}</span></td>
							<td><img ng-src="{{i.picUrl+'_40x40.jpg'}}"></td>
							<td>
	                            <a href="javascript:;">{{i.title}}</a>
	                        </td>
	                        <td>{{i.uv}}</td>
	                        <td>{{i.alipayTradeAmt}}</td>
	                        <td>{{i.alipayWinnerNum}}</td>
	                        <td>{{i.perCustomerTransaction}}</td>
	                        <td>{{i.transformationEfficiency}}</td>
	                        <td>{{i.impression}}</td>
	                        <td>{{i.click}}</td>
						</tr>
						<tr ng-if="!parms.queDetList.length">
							<td colspan="10">
								<div class="no-data">
									<span ng-if="!parms.pulling">暂无数据</span>
									<span ng-if="parms.pulling"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- 流量渠道数据 详情页 -->
				<table class="table table-bordered table-hover" ng-if="curNavIndex==2">
					<thead>
						<tr>
							<th>序号</th>
                            <th colspan = "2">宝贝</th>
                            <th>浏览量</th>
                            <th>访客数</th>
                            <th>成交金额</th>
                            <th>成交件数</th>
                            <th>订单数</th>
                            <th>转化率(%)</th>
                            <th>客单价</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "i in parms.srcDetList">
	                        <td>
	                            <span class = "badge badge-info">{{$index+1}}</span>
	                        </td>
	                        <td>
	                            <img class = "br100" ng-src = "{{i.picUrl+'_40x40.jpg'}}"/>
	                        </td>
	                        <td>
	                            <a href="javascript:;">{{i.title}}</a>
	                        </td>
	                        <td class = 'tipTd' name = "浏览量">{{i.ipv}}</td>
	                        <td class = 'tipTd' name = "访客数">{{i.iuv}}</td>
	                        <td class = 'tipTd' name = "成交金额">{{i.alipayTradeAmt}}</td>
	                        <td class = 'tipTd' name = "成交件数">{{i.alipayAuctionNum}}</td>
	                        <td class = 'tipTd' name = "订单数">{{i.alipayTradeNum}}</td>
	                        <td class = 'tipTd' name = "转化率">{{i.transformationEfficiency * 100 | number:2}}%</td>
	                        <td class = 'tipTd' name = "客单价">{{i.perCustomerTransaction}}</td>
	                    </tr>
	                    <tr ng-if="!parms.srcDetList.length">
							<td colspan="10">
								<div class="no-data">
									<span ng-if="!parms.pulling">暂无数据</span>
									<span ng-if="parms.pulling"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-if="showMessage" class="mt30">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="javascript:;">发送消息</a>
				</li>
			</ul>
			<div class="box container-fluid box-border-recruit">
				<send-message></send-message>
			</div>
		</div>
	</div>
</div>