<div>
	<div ng-show="!showDetail">
		<div class="pull-right">
			<button class="btn mb10" ng-click="show();"><i class="fa fa-plus"></i>新增</button>
		</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<th>标题</th>
					<th>链接</th>
					<th>发布时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in model.list">
					<td>
						<span class="badge badge-info">{{$index}}</span>
					</td>
					<td>{{i.title}}</td>
					<td><a ng-href="{{i.url}}" target="_blank">{{i.url}}</a></td>
					<td>{{i.date | timer}}</td>
					<td>
						<a href="javascript:;" ng-click="model.delet($index,i);">删除</a>
						<a href="javascript:;" ng-click="show(i);">修改</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="showDetail">
		<form class="form-horizontal">
			<div class="control-group" ng-class="model.addObj.title==''?'error':''">
				<label class="control-label">标题:</label>
				<div class="controls">
					<input type="text" ng-model="model.addObj.title">
					<span class="help-inline"><i class="fa fa-asterisk"></i>{{model.addObj.title==''?model.error.title:''}}</span>
				</div>
			</div>
			<div class="control-group" ng-class="model.addObj.url==''?'error':''">
				<label class="control-label">链接:</label>
				<div class="controls">
					<input type="text" ng-model="model.addObj.url">
					<span class="help-inline"><i class="fa fa-asterisk"></i>{{model.addObj.url==''?model.error.url:''}}</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button class="btn" ng-click="save();"><i></i>保存</button>
					<button class="btn" ng-click="hide();"><i></i>取消</button>
				</div>
			</div>
		</form>
	</div>
</div>