<div class="alert alert-info">
	<span>权重设置：</span>
	<div class="input-prepend input-append mb0">
		<span class="add-on">30天成交额</span>
		<input type="text" class="mb0" ng-model="sellAmt"/>
		<span class="add-on">%</span>
	</div>
	<div class="input-prepend input-append mb0">
		<span class="add-on">环比增长</span>
		<input type="text" class="mb0" ng-model="chainIndex"/>
		<span class="add-on">%</span>
	</div>
	<div class="input-prepend input-append mb0">
		<span class="add-on">同比增长</span>
		<input type="text" class="mb0" ng-model="yearOnOear"/>
		<span class="add-on">%</span>
	</div>
	<a href="javascript:;" class="btn btn-link" ng-click="alter();">修改</a>
</div>