<div class="row-fluid mt30">
	<div class="span6">
		<span class="title">待处理信息</span>
		<div class="info">
			<label class="header f15">待联系：</label>
			<div class="row-fluid f13">
				<div class="span6">
					<a href="">预约待联系 <span>（5）</span></a>
				</div>
				<div class="span6">
					<a href="">超过3天未联系<span>(5)</span></a>
				</div>
			</div>
			<div class="row-fluid f13">
				<div class="span6">
					<a href="">超过7天未联系 <span>（5）</span></a>
				</div>
				<div class="span6">
					<a href="">超过15天未联系<span>(5)</span></a>
				</div>
			</div>
			<label class="header f15">招募概况：</label>
			<div class="row-fluid f13">
				<div class="span6">
					<a href="">分销申请待审核<span>（5）</span></a>
				</div>
				<div class="span6"></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<span class="title">昨日概况</span>
		<div class="info">
			<label class="header f15">招募概况：</label>
			<div class="row-fluid f13">
				<div class="span6">
					<a href="">添加为分销商 <span>（5）</span></a>
				</div>
				<div class="span6">
					<a href="">昨日新增申请 <span>（5）</span></a>
				</div>
			</div>
			<div class="row-fluid f13">
				<div class="span6">
					<a href="">昨日通过申请 <span>（5）</span></a>
				</div>
				<div class="span6">
					<a href="">昨日拒绝申请 <span>（5）</span></a>
				</div>
			</div>
			<label class="header f15">联系概况：</label>
			<div class="row-fluid f13">
				<div class="span6">
					<a href="">昨日联系 <span>（5）</span></a>
				</div>
				<div class="span6">
					<a href="">新增关注 <span>（5）</span></a>
				</div>
			</div>
			<div class="row-fluid f13">
				<div class="span6">
					<a href="">新增跟近 <span>（5）</span></a>
				</div>
				<div class="span6">
					<a href="">新增意向 <span>（5）</span></a>
				</div>
			</div>
		</div>
	</div>
</div>	