<div class="clearfix">
	<div class="pagination pull-right">
		<ul>
			<li ng-if="pages.length" ng-class="now===1?'disabled':''">
				<a href="javascript:;" ng-click="getPage(1);">&laquo;</a>
			</li>
			<li ng-repeat="page in pages" ng-class="now===(page+1)?'disabled':''">
				<a href="javascript:;" ng-click="getPage(page+1)">{{page+1}}</a>
			</li>
			<!-- <li ng-if="">
				<a href="">&#8230;</a>
			</li> -->
			<li ng-if="pages.length" ng-class="now===pages.length?'disabled':''">
				<a href="javascript:;" ng-click="getPage(pages.length);">&raquo;</a>
			</li>
		</ul>		
	</div>
</div>